body{
    background: url('./images/Banner-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   
}
.header{
    position: absolute;
    width: 100%;
    top: 2rem;
    left: 0;
    z-index: 2;
}

.header-background{
    background: url('./images/header-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding:2rem 5rem ;

}

.header .navbar-brand{
    width: 7.5rem;
    margin-top: -0.1rem;
} 




.dashboard-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

#username{
    justify-content: right;
}
